 @page
@model OdeToFood.AboutModel
@{ ViewData["Title"] = "About"; }
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Our chefs work hard to ensure our customers enjoy fresh quality ingredients, in a fun ambience.</p>
<div>
    
</div>