@page
@model OdeToFood.ContactModel
@{ ViewData["Title"] = "Contact"; }
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Tiger House<br />
    36 The Avenue<br />
    <abbr title="Phone">Tel:</abbr>
    987402316
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@tigers.com">Support@tigers.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@tigers.com">Marketing@tigers.com</a>
</address>